.forecast-container {
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}

.temp-min {
  opacity: 0.7;
  margin-right: 5px;
}

.weather-description {
  font-size: 15px;
}

.forecast-icon {
  height: 85px;
  width: 85px;
}
